.term {
    position: absolute;
    z-index: 1;
    /* left: 350px;
    inset: 0px 0px auto auto;
    transform: translate3d(-1156.8px, 20px, 0px); */
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%), 0 0 1px 0 rgb(0 0 0 / 30%);
    width: 270px;
    display: flex;
    flex-direction: column;
    top: 150px;
    left: 50px;
    
}
.term__list {
    padding: 5px;
    margin: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.term__item {
    margin: 5px;
    cursor: pointer;
}

.term__item:hover {
    background-color: #ddd;
}

.term__icon {
    margin: auto 5px;
}

/* .term__calendar {
    margin: 10px;
    height: 32px;
} */