.Menu {
    position: fixed;
    background-color: #E8E8E8;
    transition: left .25s cubic-bezier(.4, 0, .2, 1);
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

li {
    list-style-type: none
}

.Menu__list-items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 0;
}

.Menu__item {
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    width: 177px;
}
.Menu__item:hover{
    background-color: #c9c7c7;
    border-radius: 5px;
}

.Menu__item-icon {
    margin: 0 10px;
}
.Menu__item-text {
    position: relative;
    top: -2px;
}

.Menu__item-link {
    text-decoration: none;
    color: black;
}