.add-form__task-editor {
    border: 1px solid rgb(216, 213, 213);
    height: 132px;
    border-radius: 10px;
}

.add-form__inputs {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}
.add-form__task-input {
    padding: 5px;
    border: none;
    outline: none;
    height: 21px;
}

.add-form__conf-btns {
    display: flex;
    align-items: flex-end;
}

.add-form__conf-btn {
    margin: 8px;
    border: 1px solid rgb(216, 213, 213);
    background-color: white;
    border-radius: 5px;
    width: 15%;
    height: 28px;
}
.add-form__conf-btn:hover {
    background-color: rgb(197, 190, 190);
    cursor: pointer;
}

.add-form__final-btns {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

.add-form__final-cancel {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(216, 213, 213);
    margin: 0 10px;
    cursor: pointer;
    width: 72px;
    height: 32px;
}
.add-form__final-cancel:hover {
    background-color: rgb(197, 190, 190);
    cursor: pointer;
}

.add-form__final-add {
    background-color: #d82240;
    color: white;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    width: 135px;
    height: 32px;
}

.add-form__final-add:disabled {
    background-color: #fa6780;
    color: white;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    margin: 0 10px;
    cursor: not-allowed;
    width: 135px;
    height: 32px;
}
