.add-btn {
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    margin-left: -2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.add-btn:hover {
    color: rgb(156, 45, 45);
}

.add-btn__icon {
    width: 30px;
    height: 15px;
}

.add-btn__filled-icon {
    opacity: 0;
    transition: .3s ease;
}

.add-btn__empty-icon{
    position: absolute;
    opacity: 1;
    transition: .3s ease;
}

.add-btn:hover .add-btn__filled-icon{
    opacity: 1;
}

.add-btn:hover .add-btn__empty-icon{
   opacity: 0;
}
